<div class="subfooter">
    <div class="wrapper">
        <div class="row">
            <div class="c1 clmn">
                <div class="row">
                    <a class="site-brand-inner custom-bottom-brand" rel="author" href="{{ "/" | relative_url }}">
                        <img class="site-favicon" title="{{ site.title | escape }}" src="{{ site.favicon }}" onerror="this.style.display='none'">
                        
                    </a>
                    <p class="custom-bottom-brandname"><span class="brand-head">AAziz & Co.</span><br>Accountants and Tax Consultants</p>
                </div>
                
                <!-- <p>{{ site.title | escape | remove: " | " | append: " Accountants and tax Consuntalts" }}</p> -->
                <p>2 - Sanders Parade, Greyhound Lane, Streatham,<br>London SW16 5NL, United Kingdom</p>
                <p><b>Phone #</b> 02036599254<br><b>Website:</b> www.aazizandco.co.uk<br> <b>Email:</b> info@aazizandco.co.uk</p>
                <p></p>
            </div>
            <div class="c2 clmn">
                <div class="c1-1"><h3>Our Services:</h3>
                    <p>Startup Businesses<br>
                        Limited Companies<br>
                        Landlords<br>
                        Contractors<br>
                        Sole Traders<br>
                        Self Employed</p></div>
                <div class="c2-1"><h3>Our Services:</h3>
                    <p>Startup Businesses<br>
                        Limited Companies<br>
                        Landlords<br>
                        Contractors<br>
                        Sole Traders<br>
                        Self Employed</p></div>
            </div>
            
        </div>
    </div>
</div>