@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Noto Sans", AppleSDGothicNeo-Regular, "Malgun Gothic", "Apple Color Emoji", Helvetica, Arial, Oswald, sans-serif, !default;
$base-font-size: 14px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     30px !default;

$text-color:       #454545 !default;
$background-color: #fff !default;
$brand-color:      #ff5100 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$white-color: #fdfdfd !default;

$table-text-align: left !default;

$header-height: $base-line-height * $base-font-size * 2.85 !default;
$header-text-color: invert($theme-color) !default;
$header-background-color: $theme-color !default;

$footer-height: $header-height * 1.05 !default;
$footer-text-color: lighten(invert($theme-color), 25%) !default;
$footer-background-color: darken($theme-color, 5%) !default;

$banner-height: 640px !default;
$banner-text-color: lighten($white-color, 0%) !default;
$banner-background: rgba(0,0,0,0.8) !default;

// Width of the content area
$content-width:    920px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "yat/base",
  "yat/layout",
  "yat/dark",
  "misc/theme-toggle",
  "misc/article-menu",
  "misc/common-list",
  "misc/google-translate",
  "misc/gitment"
;
.subfooter{

}
.clmn{
  float: left;
  padding: 10px 0;
  height: auto;
  @include media-query($on-palm) {
      }
}
.clmn:afer{
  content: "";
  display: table;
  clear: both;
}
.c1{
  width: 50%;
  @include media-query($on-palm) {
    width: 100%;
      }
}
.c2{
  width: 50%;
  @include media-query($on-palm) {
    width: 100%;
    text-align: center;
      }
}
.c1-1{
  float: left;
  padding: 0;
  width: 50%;
  @include media-query($on-palm) {
    width: 100%;
      }
}
.c2-2{
  padding: 0;
  width: 50%;
}
.my-footer{
  text-align: center;
  padding: 20px 0 !important;
  @include media-query($on-palm) {
    width: 100%;
      }
}
.custom-bottom-brand{
  float: left;
}
.custom-bottom-brand{
  float: left;
  text-align: left;
  line-height: 1.3;
  @include media-query($on-palm){
    text-align: left !important;
  }
}
.brand-head{
  font-weight: bold;
  font-size: 16px;
}
.page-banner-heading{
  @include media-query($on-palm){
    line-height: 1.3;
    margin-top: 50px;
  }
}
.text-align-center-palm{
  @include media-query($on-palm){
    text-align: center;
  }
}
.text-align-left-palm{
  @include media-query($on-palm){
    text-align: left;
  }
}
.row-custom{
  @include media-query($on-palm){
    text-align: center;
  }
}
.custom-footer-logo{
  max-width: 70%;
  display: block;
  margin-bottom: 20px;
  filter: saturate(0%);
  @include media-query($on-palm){
    margin: 20px auto;
  }
}
.custom-para{
  width: 85%;
  @include media-query($on-palm){
    width: 100%;
  }
}

.bg-danger{
  background-color: red;
  color: white;
}
